  .audio-player {
    width: 120px;
    border-radius: 20px;
    padding: 24px;
    margin: auto;
    color: #ffffff;
    background-color: #5050505a;
    text-align: center
  }
  
  .track-info {
    text-align: center;
    z-index: 1;
    position: relative;

  }
  
  .title {
    font-weight: 700;
    margin-bottom: 4px;
  }
  
  .play, .pause {
    margin: auto;
    background-color: transparent;
    cursor: pointer;
  }

  .buttonChannel {
    display: inline;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #3b3b3b;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .buttonAdd:hover {
    background-color: #0062cc;
  }
