.theme-button {
    position: fixed;
    bottom: 60px;
    right: var(--spacer3);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #3b3b3b;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
    z-index: 1; /* New line: adds a stack order */
  }
  
  .theme-button:hover {
    background-color: #008080;
  }
  
  .theme-svg {
    width: 24px;
    height: 24px;
  }