  
  .toolbar {
    font-weight: 800;
    display: table;
    align-items: center;
    position: fixed;
    right: var(--spacer4);
    bottom: 55px;
  }

  .form_element {
    background: transparent;
    border: 1px solid var(--color-dark-grey);
    margin-left: calc(var(--spacer) / 2);
    margin-bottom: calc(var(--spacer) / 2);
    height: var(--form-element-height);
    box-sizing: border-box;
    font-weight: 800;
    font-size: 0.9rem;
    text-align: center;
    color: var(--color-fg);
    display: table-cell;
    vertical-align: middle;
  }

  .form_element2 {
    background: var(--color-dark-grey);
    border: 1px solid var(--color-dark-grey);
    margin-left: calc(var(--spacer) *2);
    margin-bottom: calc(var(--spacer) / 2);
    height: calc(var(--form-element-height)*2);
    box-sizing: border-box;
    font-weight: 800;
    font-size: 0.9rem;
    text-align: center;
    color: var(--color-fg);
    display: table-cell;
    vertical-align: middle;
  }

  .button_play_pause, .button_stop {
    width: var(--button-pause-play-width);
    height: calc(var(--button-pause-play-width)*4);
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .button_play_pause:hover {
    background-color: #0062cc;
  }

  .button_stop:hover {
    background-color: #0062cc;
  }

  .button_icon_path {
    fill: #000000;
  }

  .input_bpm {
    width: calc(var(--input-bpm-width)*2.6);
  }

  .label_bpm {
    margin-left: calc(var(--spacer) / 2);
    margin-right: var(--spacer);
  }

  .select_sequence {
    margin-left: var(--spacer);
    text-transform: uppercase;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 306 306'%3E%3Cpolygon fill='%23f5f5f5' points='270.3,58.6 153,175.9 35.7,58.6 0,94.3 153,247.3 306,94.3'/%3E%3C/svg%3E");
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    padding: 0 40px 0 10px;
  }

  .info-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info-content {
    background-color: #505050;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    max-height: 600px;
    overflow-y: auto;
  }
  
  h2 {
    margin: 0;
  }
  
  .button_close {
    float: right;
    margin-top: 20px;
  }

  .super-parent{
    position: fixed;
    right: var(--spacer2);
  }