:root {
  --app-max-width: 0;
  --app-visibility: hidden;
}

html {
  font-size: var(--base-font-size);
  color: var(--color-fg)
}

#wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.space {
  text-align: center;
  height: 100%;
  z-index: -1;
}

.app {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  width: 94vw;
  visibility: var(--app-visibility);
  background-color: var(--color-bg);
  padding: 10px;
  position: fixed;
  bottom: 0;
  text-align: center;
}

@media only screen and (min-width: 820px) {
  .app {
    margin-top: var(--spacer);
    margin-bottom: var(--spacer);
  }
}

.app_header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin-bottom: calc(var(--spacer) * 1);
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.app_title {
  font-size: 2.2rem;
  font-weight: 900;
  flex: 1;
}

.app_content {
  display: inline-block;
  flex-direction: column;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
  position: relative;
  transform: translateZ(0);
  vertical-align: middle;
}

.app_controls {
  display: inline-block;
  align-items: center;
  justify-content: stretch;
  margin-bottom: calc(var(--spacer) * 1);
  margin-left: var(--spacer);
  margin-right: var(--spacer);
  vertical-align: middle;
}

.track {
  transition: transform 0.3s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}





.color-subtitle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

@media (max-width: 1360px) {
  .color-subtitle-container {
    display: none;
  }
}

.color-subtitle {
  display: flex;
  text-align: left;
  font-size: 12px;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.color-column {
  display: flex;
  flex-direction: column;
}

.color-subtitle p {

  font-size: 16px;
  line-height: 1.6;
}

.purple {
  color: #9c27b0;
}

.pink {
  color: #fd5b78;
}

.orange {
  color: #ff6037;
}

.yellow {
  color: #ffff66;
}

.pink-purple {
  color: #ff00cc;
}

.red {
  color: #ff0000;
}

.light-orange {
  color: #ff9966;
}

.lime-green {
  color: #ccff00;
}

.gray {
  color: #808080;
}

.dark-orange {
  color: #ff9933;
}

.light-green {
  color: #66ff66;
}

.light-blue {
  color: #aaf0d1;
}

.pinkish-red {
  color: #ff355e;
}

.cyan {
  color: #16d0cb;
}

.pinkish-purple {
  color: #ee34d2;
}
