.audio-controls {
    display: flex;
    justify-content: space-between;
    width:  75%;
    margin: 0 auto;
  }
  
  .audio-controls .play svg,
  .audio-controls .pause svg {
    height: 25px;
    width: 25px;
    display: block;
    margin: auto
  }
  
  .audio-controls path {
    fill: var(--white);
  }