  .record-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 2px solid black;
    transition: background-color 0.2s ease-out;
  }
  
  .record-button:hover {
    background-color: red;
  }
  
  .record-button.recording {
    background-color: red;
  }
  
  .record-button.recording:hover {
    background-color: #c30000;
  }